/*
	Local Definitions
*/
@mixin large {
	@media (max-width: 1600px) {
		@content;
	}
}
@mixin medium {
	@media (max-width: 1200px) {
		@content;
	}
}
@mixin small {
	@media (max-width: 900px) {
		@content;
	}
}
@mixin xsmall {
	@media (max-width: 800px) {
		@content;
	}
}
@mixin xxsmall {
	@media (max-width: 600px) {
		@content;
	}
}

@mixin css-triangle($color) {
	width: 0;
	height: 0;
	position: absolute;
	border-right: 80px solid transparent;
	border-bottom: 80px solid $color;
}

$shadow-tint: 0 -6px 0 rgba(255, 255, 255, 0.6);
$shadow-shade: 0 6px 0 rgba(0, 0, 0, 0.20);
$border-tint: 6px solid transparent;
$border-shade: 6px solid rgba(0, 0, 0, 0.1);
@mixin elevated {
	box-shadow: $shadow-tint, $shadow-shade;
	border-top: $border-tint;
	border-bottom: $border-shade;
}


/*
	Elements
*/
.TilesSection {
	position: relative;
	overflow: hidden;
	color: map.get(colors.$blue, 900);
}

.flexArea {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	padding: 80px 80px 0;
	max-width: 1600px;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	@include medium {
		padding: 40px 40px 0;
	}
	@include xsmall {
		flex-wrap: wrap;
		padding: 24px 12px 0 12px;
	}

	h1 {
		font-size: 4em;
		/* Less space above for visual closeness to the `preheader` */
		margin: 0.5rem 0 1rem 0;
		@include small {
			font-size: 2em;
			margin: 0.25rem 0 0.5rem 0;
		}
	}
	p {
		margin: 1rem 0;
		@include small {
			margin: 0.5rem 0;
		}
	}
	.preheader {
		@include typography.header;
		font-size: 2.75em;
		@include small {
			font-size: 1.75em;
		}
	}
	.tagline {
		font-size: 1.25em;
		font-weight: 700;
		max-width: 50ch;
		margin-left: auto;
		margin-right: auto;
		@include small {
			font-size: 1em;
		}
	}
}

.speechBubble {
	@include elevated;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	flex-grow: 1;
	align-self: stretch;
	background-color: #fff;
	border-radius: 48px 48px 0 48px;
	padding: 40px;
	position: relative;
	margin-right: 40px;
	@include small {
		border-radius: 32px 32px 0 32px;
		padding: 24px;
	}
	@include xsmall {
		width: 100%;
		border-radius: 16px;
		padding: 0 16px;
		order: 1;
		margin-right: 0;
	}

	.cssTriangle {
		@include css-triangle(#E5E5E5);
		bottom: -6px;
		right: -80px;
		@include xsmall {
			display: none;
		}

		&::before {
			@include css-triangle(#fff);
			content: "";
			top: -6px;
			right: -80px;
		}
		&::after {
			content: "";
			position: absolute;
			width: 80px;
			height: 80px;
			top: 0;
			right: -80px;
			box-shadow: $shadow-shade;
		}
	}
}

.imageContainer {
	@include elevated;
	flex-basis: 400px;
	min-width: 400px;
	border-radius: 50%;
	background-color: #fff;
	@include large {
		min-width: 300px;
	}
	@include xsmall {
		width: 100%;
		max-width: 250px;
		min-width: initial;
		flex-basis: initial;
		margin-bottom: 24px;
	}
	@include xxsmall {
		max-width: 200px;
	}

	.image {
		display: block;
		margin: 18px 24px;
		border-radius: 50%;
		@include xsmall {
			margin: 10px 16px;
		}
	}
}

.chips {
	line-height: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 18px 74px;
	min-height: 80px;
	@include medium {
		padding-left: 34px;
		padding-right: 34px;
	}
	@include xsmall {
		padding-left: 6px;
		padding-right: 6px;
	}

	> * {
		margin: 6px;
	}

	.chipIcon {
		// Icons have a heavy font weight and look visually important with darker colors, but they are less important, so let's blend it into the background by 10%
		opacity: 0.9;
	}
}

.outerNavContainer {
	padding: 0 80px;
	@include medium {
		padding: 0;
	}
}
