.Icon {
	display: inline-block;
	line-height: 1;
	user-select: none;
	height: 1.5rem;
	width: 1.5rem;
	vertical-align: middle;
}

.material {
	font-family: "Material Icons";
	font-size: 1.5rem;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
}
