.ProjectsSection {
	display: flex;
	flex-wrap: wrap;
	margin: -12px;
}


.card {
	min-width: 300px;
	flex-basis: calc(50% - 24px);
	flex-grow: 1;
	display: block;
	position: relative;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.2);
	width: 100%;
	margin: 12px;
	&.iconProject {
		flex-basis: calc(25% - 24px);
	}
	&.orange {
		background-color: map.get(colors.$orange, 400);
	}
	&.blue {
		background-color: map.get(colors.$blue, 400);
	}
	&.lilac {
		background-color: map.get(colors.$lilac, 400);
	}
	&.mint {
		background-color: map.get(colors.$mint, 400);
	}

	.image {
		transition: opacity animations.$base-transition;
		opacity: 0.7;

		img {
			width: 100%;
			height: auto;
			margin: 0px;
			display: block;
		}
	}

	.overlay {
		padding: 12px 0;
		position: absolute;
		top: calc(-2rem - 48px);
		bottom: 0;
		z-index: 5;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		transition: bottom animations.$base-transition, top animations.$base-transition;
		@include animations.sensitive {
			top: 0;
		};
	}

	.overlayText {
		padding: 4px 12px;
		background-color: map.get(colors.$gray, 0);
		color: rgba(0, 0, 0, 0.8);
		box-shadow: 0 6px 0 rgba(map.get(colors.$orange, 900), 0.2);
		border-top: 6px solid transparent;
		border-bottom: 6px solid rgba(map.get(colors.$gray, 1000), 0.2);
		border-radius: 0 4px 4px 0;
		display: inline-block;
		max-width: 90%;
		margin: 6px 0;
		@include animations.transition-default;
	}

	h3.overlayText {
		font-size: 1.75rem;
	}
	p.overlayText {
		padding: 2px 12px;
		font-weight: 600;
		text-align: center;
		transition: margin 0.2s ease;
		@include animations.sensitive {
			margin-bottom: 0 !important;
		};

		&.viewOn {
			margin-bottom: auto;
			font-weight: 800;
			display: flex;
			align-items: center;

			:nth-child(2) {
				margin-left: 0.25rem;
			}
		}
	}

	&:hover,
	&:focus {
		.image {
			opacity: 1;
		}

		.overlay {
			top: 0;
		}

		.overlayText {
			box-shadow: 0 6px 0 rgba(map.get(colors.$gray, 1000), 0.1);
		}

		h3.overlayText {
			font-size: 1.5rem;
			@include animations.sensitive {
				font-size: 1.75rem;
			};
		}
	}
	&:active {
		.image {
			opacity: 0.6;
		}

		.overlayText {
			background-color: map.get(colors.$gray, 200);
			box-shadow: 0 6px 0 rgba(map.get(colors.$gray, 1000), 0.3);
		}
	}
}
